.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    height: 100vh;
}
.container button{
    height: 50px;
    width: 50px;
    background-color: rgb(212, 241, 129);
    padding: 2px;
    margin: 4px;
    cursor: pointer;
    border: solid white 2px;
    flex-grow: 2;
    font-size: larger;

}
.container input{
    height: 50px;
    background-color: rgb(216, 240, 240);
    margin: 4px;
    width: 300px;
}
